#headerHome {
  display: flex;
  background-image: url(../assets/images/Background_Intro.png);
  background-size: cover;
  height: auto;
  justify-content: center;
  margin-block: 120px 57px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    
    max-width: 1040px;
    display: flex;
  }

  #title-text {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 680px;
  }

  h3 {
    font: var(--subtitle);
    color: var(--color-gray-500);

    strong {
      color: var(--color-red);
    }
  }

  h1 {
    margin-block: 8px 20px;
    font: var(--title-lg);
    color: var(--color-gray-600);
  }

  p {
    font: var(--text-sm);
    color: var(--color-gray-400);
    text-align: center;
  }

  #tecnologias {
    margin-block: 80px 94px;
    display: flex;
    flex-direction: row;
    gap: 16px;

    & > div {
      display: flex;
      justify-content: space-around;

      align-items: center;
      background-color: var(--color-gray-300);
      border-radius: 30px;
      height: 40px;
      padding-inline: 16px;
    }

    img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }

    span {
      font: var(--text-md);
      color: var(--color-gray-500);
    }
  }
}
