main {
    display: grid;
    grid-template-columns: repeat(1);
    align-items: center;
    justify-content: center;
    padding-top: 72px;


    header{
        text-align: center;
        gap: 8px;
        margin-bottom: 56px;

        h3{
            color: var(--color-red);
            font: var(--subtitle);
        }
        h2{
            color: var(--color-gray-600);
            font: var(--title-md);
        }
    }

    section {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        padding-bottom: 144px;

        article{
            width: 330px;
            background-color: var(--color-gray-300);
            border: solid 2px var(--color-gray-300);
            border-radius: 12px;
            padding-inline: 12px;
            padding-block: 12px 17px;
        }

        article:hover{
            border: solid 2px var(--color-gray-400);
        }

        img{
            width: 306px;
            border-radius: 8px;
            margin-bottom: 20px;
        }

        h4 {
            margin-bottom: 8px;
            font: var(--title-sm);
            color: var(--color-gray-600);
        }

        p {
            font: var(--text-sm);
            color: var(--color-gray-500);
        }
    }
}